<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="UserInterfaceTask">
    <test name="Tests">
        <classes>
            <class name="RegistrationTest"/>
            <class name="HideHelpFormTest"/>
            <class name="AcceptCookiesTest"/>
            <class name="TimerValidationTest"/>
        </classes>
    </test>
</suite>